<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Sign Up Page</h1>

    <form >
        <div>
            <label for="email">Email Address</label>
            <input type="email" id="email" name="email">
            <div class="emailError"></div>
        </div>

        <div>
            <label for="password">Password</label>
            <input type="password" id="password" name="password">
            <div class="passwordError"></div>
        </div>

        <div>
            <button type="submit">Sign Up</button>
        </div>
    </form>

    <script>
        const form = document.querySelector('form')
        const emailError = document.querySelector('.emailError')
        const passwordError = document.querySelector('.passwordError')
        
        form.addEventListener('submit', async (e)=>{
            e.preventDefault()
            const email = form.email.value
            const password = form.password.value

            try {
                const response = await fetch ('/', {
                    method: 'POST',
                    body: JSON.stringify({ email, password }),
                    headers: { 'Content-Type': 'application/json'}
                })
                const data = await response.json()
                console.log(data);
                if (data.user) {
                    console.log(data.user);
                }
                if (data.errors) {
                    emailError.textContent = data.errors.email
                    passwordError.textContent = data.errors.password
                }
            } catch (error) {
                console.log(error);
            }

        })

    </script>
</body>
</html>